{% extends 'base.html' %}


{% block title %}
{% endblock %}


{% block style %}
{% endblock %}


{% block label %}
个人信息
{% endblock %}


{% block content %}
    <table class="table">
        <tr>
            <th colspan="2" rowspan="3" style="width: 20%">
                <img src="/static/img/photo.jpeg" alt="用户头像" style="width: 100%">
            </th>
            <th>姓名：</th>
            <td>14</td>
            <th>性别：</th>
            <td>16</td>
        </tr>
        <tr>
            <th>年龄：</th>
            <td>14</td>
            <th>身份：</th>
            <td>16</td>
        </tr>
        <tr>
            <th>学科：</th>
            <td>14</td>
            <th>阶段：</th>
            <td>16</td>
        </tr>
        <tr>
            <th>邮箱：</th>
            <td>12</td>
            <th>电话：</th>
            <td>14</td>
            <th>地址：</th>
            <td>16</td>
        </tr>
    </table>
    <hr style="height: 2px">
    <span style="font-size: 26px">课程安排</span>
    <br>
    <br>
    <table class="table">
        <tr>
            <th>星期天</th>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
        </tr>
    </table>
{% endblock %}


{% block script %}
{% endblock %}


