<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拓展</title>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
</head>
<body style="background-image:url('/static/img/photo.jpeg');;">
    <div style="margin-left: 30%; width: 40%; border: 1px solid">
        <span style="color: #e74a3b" id="span1">123456789</span>
        <form action="" method="post">
            <input type="text" id="user" placeholder="请输入随机数组">
            <input type="text" id="name" placeholder="请输入关联数字">
            <input type="submit" value="提交" id="btn">
        </form>
    </div>
    <script>
        function func() {
            alert(a)
        }
    </script>
</body>
</html>